<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533586700965-udpeqi4ajbog4qjunc98opig89djqibl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533586700965-udpeqi4ajbog4qjunc98opig89djqibl</string>
	<key>API_KEY</key>
	<string>AIzaSyCWwb8GvSQ87ys5PU1bd2zgq1itjmcZFPM</string>
	<key>GCM_SENDER_ID</key>
	<string>533586700965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EvanStokdyk.Logbook</string>
	<key>PROJECT_ID</key>
	<string>logbook-f4b60</string>
	<key>STORAGE_BUCKET</key>
	<string>logbook-f4b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533586700965:ios:43647a33b2e63714a3bb4c</string>
</dict>
</plist>